.subdescription{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: white;
    
}
.textSee{
    font-weight: 100;
}
.iconCourse{
    font-size: 15px;
    padding-right: 5px;
    color: #75ffe8;
}
.linkModal{
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    font-weight: 100;
}
.linkModal:hover{
    color: #75ffe8;
}