.box-tec {
    width: auto;
    height: auto;
    border-radius: 50px;
    cursor: pointer;
    align-items: center;
    justify-content: center;

    .imageL{
        width: 150px;
        height: 150px;
        padding: 20px;
    }

}
  