.containerProject {
    background-color: #2a343f;
    border-radius: 10px;

}

.tec {
    background-color: #BBC7CE;
    width: 40px;
    padding: 10px;
    border-radius: 10px;
}


.imageTec {
    width: 20px;
}

.titleProject {
    font-family: 'Poppins';
 
}

.descriptionProject {
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 100;
}