.containerImage{
    width: 50px; /* Puedes ajustar el tamaño según tus necesidades */
    height: 50px;
    border-radius: 10%; 
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #c271da, #aa5fc1);
}

.imageicon{
    width: 45%; 
    height: auto;   
}
.textNameTec{
    font-family: 'Poppins';
    font-size: 12px;
    margin-top: 5px;
}