
.container{
    margin: 20px;
    flex-direction: row;
}
.titlePage{
    font-family: 'Poppins', sans-serif;
}
.subtitleContent{
    font-family: 'Motomami', sans-serif;
    font-size: 15px;
    padding-bottom: 20px;
}
.textSkill{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: white;
    margin-bottom: 10px;
}
.icon{
    font-size: 18px;
    padding-right: 10px;
    font-weight: 500;
}

.subtitle{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: white;
    font-weight: 100;
}
.subdescription{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    color: white;
    font-weight: 100;
}
.containerImage{
    width: 50px; /* Puedes ajustar el tamaño según tus necesidades */
    height: 50px;
    border-radius: 10%; 
    border-width: 1px;
    overflow: hidden; /* Asegura que la imagen no se desborde del contenedor circular */
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon{
    padding-left: 10px;
}
.textHobbies{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: white;
}
