
.container{
    margin: 20px;
    flex-direction: row;
}
.cont{
    height: auto;
}
.titlePage{
    font-family: 'Poppins', sans-serif;
}
.separation{
    background-color:#75ffe8;
    margin-top: 4px;
    height: 6px;
}
.linkPDF{
    font-family: 'Poppins', sans-serif;
    transition: color 0.3s ease; 
}
.linkPDF:hover{
    color: #75ffe8; 
}
.textCheck{
    padding-top: 12px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}
.subtitleContent{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 20px;
}

.textSkill{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
}
.icon{
    font-size: 18px;
    padding-right: 10px;
    font-weight: 500;
}
.subtitle{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: white;
    font-weight: 100;
}
.subdescription{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: white;
    font-weight: 100;
}
.containerImage{
    width: 50px; 
    height: 50px;
    border-radius: 10%; 
    background-color: #75ffe8;
    overflow: hidden; /* Asegura que la imagen no se desborde del contenedor circular */
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon{
    padding-left: 10px;
    color: black;
}
.iconSkill{
    padding-right: 6px;
    color: white;
}
.textHobbies{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: white;
    font-weight: 100;
}
.containerLanguage{
    display: flex;
    padding-top: 10px;
}
.imageFlag{
    width: 20px;
    height: auto;
    margin-right: 10px;
}
.textLanguage{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 500;
    padding-right: 20px;
}
.textlevelLanguage{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 500;
    padding-right: 10px;
}
.textcertificate{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    margin-right: 10px;
}
.Col1Color{
    background: linear-gradient(180deg, #1f1f1f, #0c0c1d);
    z-index: 4;
}
