/* Navbar.module.css */

.logoImage{
  width: 60px;
}
.navContainer{
  padding-left: 60px;
  padding-right: 60px;
}
.navbar {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .navItem {
    margin-right: 10px;
  }
  
  .navLink {
    text-decoration: none;
    color: white;
  }
  .linkMenu{
    font-family: 'Poppins';
    transition: color 0.3s ease;
    position: relative;
    bottom: 15px;
    left: 20px;
  }
  .linkMenu:hover{
    color:#75ffe8;

  }
  .menuOpen{
    position: absolute;
    top: 10px; /* Adjust this value to position the menu properly */
    right: 0; /* Adjust this value if you want the menu to appear aligned to the right */
    background-color: #1f1f1f;
    z-index: 9999; 
  }