:root {
    --clr-neutral-900: hsl(207, 19%, 9%);
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-accent-400: hsl(170, 100%, 73%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.card {
    color: var(--clr-neutral-100);
    padding: 5rem 0 0;
    width: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: transform 500ms ease;
}

.card:hover,
.card:focus-within {
    transform: scale(1.05);
}

.cardContent {
    --padding: 1.5rem;
    padding: var(--padding);
    background: linear-gradient(hsl(0 0% 0% / 0),
            hsl(20 0% 0% / 0.3) 20%,
            hsl(0 0% 0% / 1));
}

.cardTitle {
    position: relative;
    width: 100%;
    font-family: 'Poppins';
    padding-bottom: 40px;
    font-size: 6vh;
}

.card:hover .cardTitle::after,
.card:focus-within .cardTitle::after {
    transform: scaleX(1);
}

.cardTitle::after {
    content: "";
    position: absolute;
    height: 5px;
    width: calc(100% + var(--padding));
    left: calc(var(--padding) * -1);
    bottom: -2px;
    background: var(--clr-accent-400);
    transform-origin: left;
    transition: transform 500ms ease;
}

@media (hover) {
    .cardContent {
        transform: translateY(65%);
        transition: transform 500ms ease;
    }

    .cardContent>*:not(.cardTitle) {
        opacity: 0;
        transition: opacity 500ms linear;
    }

    .card:hover .cardContent>*:not(.cardTitle),
    .card:focus-within .cardContent>*:not(.cardTitle) {
        opacity: 1;
        transition-delay: 700ms;
    }

    .card:hover .cardContent,
    .card:focus-within .cardContent {
        transform: translateY(0);
        transition-delay: 500ms;
    }

    .card:focus-within .cardContent {
        transition-duration: 0ms;
    }

    .cardTitle::after {
        transform: scaleX(0);
    }
}

.button {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: var(--clr-neutral-900);
    background-color: var(--clr-accent-400);
    padding: 0.5em 1.25em;
    border-radius: 0.25rem;
    margin-top: 10px;
    font-family: 'Poppins';
    font-weight: 500;
}

.button:hover,
.button:focus {
    background-color: var(--clr-neutral-100);
    color: black;
}

.cardBody {
    color: rgb(255, 255, 255/0.85);
    padding-top: 20px;
    font-family: 'Poppins';
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Ajusta a la cantidad deseada de líneas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; 
    margin-bottom: 20px;
}

.textDate{
    top: 95px;
    position: relative;
    left: 25px;
}
.text{
    font-family: 'Poppins';
    font-size: 14px;
    padding-left: 10px;
}
.containerimagesTec{
    position: relative;
    bottom: 50px;
    left: 10px;
    height: 80px;
 
}
.imageicon{
    width: 40px;
    margin: 10px;
    padding: 6px;
}

@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition-delay: 0ms !important;
    }
}