html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section{
    height: auto;
}


@mixin mobile {
    @media (max-width:738px){
        @content;
    }
}

@mixin mobile {
    @media (max-width:1024px){
        @content;
    }
}