.containerAbout {
    .hello {
        font-size: 80px;
        color: white;
        line-height: 80px;
        font-family: 'Poppins';
    }

    .computer-text {
        font-size: 30px;
        color: #75ffe8;
        line-height: 80px;
        font-family: 'Poppins';
    }

    .text-aboutme {
        padding-top: 20px;
        font-family: 'Poppins';
        text-align: justify;
        color: rgb(157, 156, 156);
    }

    .logo {
        font-size: 50px;
        padding-right: 30px;
    }

    .logoIN:hover {
        color: #0077b5
    }

    .logoGit:hover {
        color: #8b49ba;
    }
}

.container-design {
    .text-code {
        font-family: 'Poppins';
        font-size: 50px;
        text-align: center;
    }

    .question {
        font-family: 'Poppins';
        font-size: 30px;
    }

    .text-design {
        padding-top: 20px;
        font-family: 'Poppins';
        text-align: justify;
        color: rgb(157, 156, 156);

        a {
            color: #75ffe8;
            cursor: pointer;
        }
    }

    .container-images {
        padding-top: 20px;
        width: 100%;

        .image {
            width: 300px
        }

        .image2 {
            width: 150px
        }

        p {
            font-family: 'Poppins';
            font-size: 13px;
            color: rgb(180, 177, 177);
            text-align: center;
        }
    }

}